<% if (locals.notice) { %>
    <div className="notice"><%= notice %></div>
  <% } %>

<form action="<%= createSessionPath %>" method="post">
    
    <input type="hidden" name="_method" value="put" />

    <div class="container">
        <h1>Log In</h1>


        <input class="box" type="text" name="username" id="username"
               placeholder="Username"  required /><br>

        <input class="box" type="password" name="password"
               id="password" placeholder="Password " required/><br>

        <br>
        <input type="submit" id="submitDetails"
               name="submitDetails" value="Sign in" /><br>
    </div>
</form>


