<div class = "container">



	<h2>GROUP NAME: <%= group.name %></h2>



	<h4>GROUP INFO:<h4>
		<ul>
			<li>group memebers:</li>
			<li>group photo:</li>
			<li>group description: <%= group.description %></li>
			<li>group posts</li>
		</ul>



</div>