<div class = "base bgcolor-0 round-1 container">



	<h2>PUBLICATION NAME: <%= publications.title %></h2>



	<h4>publication INFO:<h4>
		<ul>
			<li>User: 000</li>
			<li>Item: photo missing</li>
			<li>Categoría: <%= publications.category %> </li>
			<li>Description: <%= publications.description %></li>
			<li>Status: <%= publications.state %></li>
		</ul>



</div>

