<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>X-Change</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
      <% use_navbar = true%>
      <% if(use_navbar){ %>
      <%- include('navbar.html.ejs') %>
      <% } else { %>
        <header>
          <h1>X-Change</h1>
        </header>
      <% } %>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
