@import "navbar";

html, body {
  background-color: #e666e5;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 1vw;
  padding: 1vw;
}

.m-1 {
  margin: 1px;
}

.bgcolor-0 {
  background-color: #f3f3f3;
}

.bgcolor-1 {
  background-color: #e5e5e5;
}

.bgcolor-2 {
  background-color: #dcdcdc;
}

.bgcolor-3{
  background-color: #14441c;
}

.round-1 {
  border-radius: 10px;
}

.hover-pointer:hover {
  color: #317fe1;
  cursor: pointer;
}

.m05 {
  margin: 0.5rem;
}

.zoom {
  transition: transform .3s;
}

.zoom:hover {
  transform: scale(1.15);
}

.fit {
  width: fit-content;
}

.group-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
}
