<div class = "base bgcolor-0 round-1 container">


  <form action="/sign_up" method="post">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <input class="box" type="text" name="username" id="username"
             placeholder="Username"  required /><br>

      <input class="box" type="text" name="name" id="name"
             placeholder="Name"  required /><br>

      <input class="box" type="email" name="email" id="email"
             placeholder="E-Mail " required /><br>

      <input class="box" type="password" name="password"
             id="password" placeholder="Password " required/><br>

      <input class="box" type="text" name="phone" id="phone"
             placeholder="Phone Number " required/><br>
      <br>
      <input type="submit" id="submitDetails"
             name="submitDetails" value="Submit" /><br>
    </div>

    <div class="container signin">
      <p>Already have an account? <a href="/users/sign_in">Sign in</a>.</p>
    </div>
  </form>

</div>