<div class = "base bgcolor-0 round-1 container">


  <form action="/sign_in" method="post">
      <div class="container">
          <h1>Log In</h1>


          <input class="box" type="text" name="username" id="username"
                 placeholder="Username"  required /><br>

          <input class="box" type="password" name="password"
                 id="password" placeholder="Password " required/><br>

          <br>
          <input type="submit" id="submitDetails"
                 name="submitDetails" value="Submit" /><br>
      </div>
  </form>

</div>